body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: black;
    background: white;
}

*,
*:before
*:after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p1,p2,p3,p4,p5,p6 {
    margin: 0 0 10px;
}

/*Контейнер_____________*/

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
	
/*Шапка_________________*/
.header {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #515369;
    padding: 35px 0;
    align-items: center;
}

.header.fixed {
    position: fixed;
    height: auto;
    background-color: #31344e;
}

.header.fixed .header_inner {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 0;
}

/*Навигация_____________*/

.nav {
    font-size: 13px;
    font-weight: 700;
}

.nav_link {
    color: #ccc;
    text-decoration: none;
    opacity: 0,75;
    margin: 0 10px;
}

.nav_link:hover {
    text-decoration: blink;
    color: white;
    opacity: 1;
    transition: opacity 1s linear;
    animation: nav_link .5s infinite;
}

  @keyframes nav_link {
    from { opacity: 1;
      }
      to { opacity: .5;
      }
}  

/* Menu____________________*/

.menu {
    display: none;
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0;
}

.menu_item {
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    font-size: 0;
    color: transparent;
    position: relative;
    left: -15px;
}

.menu_item:before,
.menu_item:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: white;
    left: -0px;
}

.menu_item:before {
    top: -8px;
}

.menu_item:after {
    bottom: -8px;
}

/*Intro_________________*/

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    background: #31344e
   url(image/%D0%97%D0%B0%D0%B4%D0%BD%D0%B8%D0%B9%20%D1%84%D0%BE%D0%BD.jpg) center no-repeat;
    
    background-size: cover;
   
}

.intro_inner {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    
    text-align: center;
}

.intro_title {
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    line-height: 1.1;
	color: white;
    font-weight: 700;
    margin: 0 0 30px;
    text-transform: uppercase;
}

p1 {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: white;
    line-height: 1.5;
    margin-bottom: 60px;
}

/*Button________________*/

.btn_logo {
    display: block;
    cursor: pointer;
    background-color: transparent;
    font-size: 0;
    position: relative;
    border: 0;
}

.button {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    padding: 14px 40px;
    color: white;
    font-weight: 600;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
	margin: 30px;
    text-align: center;
}

.btn--red {
    background-color: red;
}

.btn_long {
    min-width: 280px;
}

/*Features_____________*/

.features {
    display: flex;
    margin: 100px 0;
    flex-wrap: wrap;
    
}

.features_item {
    width: 26.5%;
    padding: 0 40px;
    margin: 25px 0;
    text-align: center;
}

.features_icon {
    margin-bottom: 20px;
    align-items: center;
}

.features_title {
    font-size: 14px;
    font-weight: 700;
    color: black;
    margin-bottom: 15px;
    text-transform: uppercase;
}

p2 {
    font-size: 14px;
    color: black;
    line-height: 1.5;
}


/*Works_________________*/

.works {
    display: flex;
    flex-wrap: wrap;
}

.works_item {
    width: 24.84%;
    height: 287.7px;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.works_item:hover .works_content {
    opacity: 1;
}

.works_img {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    
    transform:
    translate3d(-50%, -50%, 0);
}

.works_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color:  rgba(232, 69, 69, 0.9);
    text-align: center;
    
    opacity: 0;
    transition: opacity .2s linear;
}

.works_title {
    font-size: 14px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    margin: 5px 0;
}

.works_text {
    font-size: 14px;
    color: white;
}

/*Team__________________*/

.team {
    margin: 100px 0 70px;
}

.team_inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.team_item {
    width: 30%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.team_img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.team_name {
    font-size: 22px;
    color: black;
    margin-bottom: 8px;
}

.team_prof {
    font-size: 12px;
    color: #E54E4A;
    text-transform: uppercase;
    margin-bottom: 15px;
    
}

.team_text {
    font-size: 14px;
    color: black;
    line-height: 1.5;
}

/*Social___________________*/

.social {
    display: flex;
}

.social_link {
   display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    align-items: center; 
    margin-right: 4px;
    border: 1px solid #ccc; 
    background-color: white;
    
    transition: background .2s linear;
}

.social_icon {
    display: block;
    height: 18px;
    fill: #ccc;
    
    transition: fill .1s linear;
}


.social_link:hover {
    background-color: black;
}

.social_link:hover .social_icon {
    fill: white;
}

.inst {
   display: block;
    height: 18px;
    fill: #ccc;
    
    transition: fill .1s linear
}

.social_link:hover .inst {
    fill: white;
}

.social_footer {
    justify-content: center;
}

.social_footer .social_link {
    background-color: transparent;
    border-width: 2px;
    border-color: white;
    border-radius: 2px;
}


.social_footer .social_icon {
    fill: white;
}
.social_footer .social_link:hover {
    background-color: #fff;
}

.social_footer .social_icon:hover {
    fill: black;
}
/*Testimoials______________*/

.reviews {
    overflow: hidden;
    background: #53354A;
}

.reviews_item {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.reviews_photo {
    width: 50%;
    height: 500px;
    position: relative;
}

.reviews_img-1 {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    z-index: 1;
    
    transform: translateY(-50%);
}

.reviews_img-2 {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    z-index: 1;
    
    transform: translateY(-50%);
}

.reviews_slider {
    height: 500px;
    overflow: hidden;
}

.slick-initialized {
    height: auto;
}

.reviews_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 43%;
    padding-left: 80px;
}

.reviews_text {
    font-family: 'Cardo', sans-serif;
    font-style: italic;
    font-size: 36px;
    line-height: 1.2;
    color: white;
    margin-bottom: 20px;
}

.reviews_author {
    font-size: 13px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}

/*Subscribe______________*/

.subscribe{
    margin: 90px 0;
    text-align: center;
}

.subsribe_title {
    font-size: 28px;
    color: black;
    font-weight: 300;
    margin-bottom: 10px;
}

.subscribe_text {
    font-size: 13px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}

/*Footer__________________*/

.footer {
  background-color: #3a3e64;  
}

.footer_inner {
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0;
}

.footer_item {
   width: 33.3333%;
   text-align: center; 
}

.footer_title {
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.footer_address {
   font-size: 14px; 
   font-style: normal; 
   line-height: 1.5; 
   color: rgba(255, 255, 255, .5);
}

.footer_text {
   font-size: 14px; 
   font-style: normal; 
   line-height: 1.5; 
   color: rgba(255, 255, 255, .5);
}

/*Copyright________________*/

.copyright {
    padding: 20px 0;
    background-color: #313454;
}

.copyright_text {
    text-align: center;
    color: #808080;
    font-size: 14px;
    line-height: 1.5;
}

.copyright_text span {
    color: white;
}

/* Media________________________________*/

/*_________Laptop 4K________*/

@media (min-width: 2560px){
    
     /* Container_________*/
    
    .container {
        max-width: 2400px;
        margin: 0 30px;
    }
    
     /* Logo_________*/
    
    img {
        height: 40px;
    }
     
     /* Nav_________*/
    
    .nav {
        font-size: 30px;
        right: 100%;
    }
    
    /* Intro_________*/
    
    .intro {
        height: 950px;
    }
  
    .intro_title {
        font-size: 72px;
        margin-top: 30px;
    }
    
    p1 {
        font-size: 35px;
    }
    
    .button {
        font-size: 25px;
        padding: 30px 50px;
        margin-top: 100px;
    }
    
    /* Features_______*/
    .features_item {
        width: 30%;
    }
    
    .features_icon {
        width: 100px;
        height: 100px;
    }
    
    .features_title {
      font-size: 30px;  
    }
    
    p2 {
        font-size: 30px;
    }
    
    /* Works___________*/
    .works_item {
        width: 24.75%;
        height: 455px;
    }
    
    .works_img {
        width: 630px;
        height: 450px; 
    }
    
    .works_title {
        font-size: 30px;
    }
    
    .works_text {
       font-size: 30px; 
    }
    
    /* Team___________*/
    .team_inner {
        justify-content: center;
    }
    
    .team_item {
        width: 30%;
    }
    
    .team_img {
        width: 100%;
        height: auto;
    }
    
    .team_name {
        font-size: 50px;
    }
    
    .team_prof {
        font-size: 30px;
    }
    
    .team_text {
        font-size: 30px;
    }
    
    /* Social___________*/
    
    .social_link {
        width: 70px;
        height: 70px;
    }
    
    .social_icon {
        height: 35px;
    }
    
    /* Reviews___________*/
    .reviews_content {
        width: 42%;
        padding-left: 80px;
    }
    
    .reviews_photo {
        width: 50%;
        height: 850px;
    }
    
     .reviews_img-1 {
         left: 0;
         width: 87%;
         height: 850px;
        
    }
    
     .reviews_img-2 {
         left: 0;
         width: 87%;
         height: 850px;
    }
    
    .reviews_content {
        padding: 0;
    }
    
    .reviews_text {
        left: 0;
        font-size: 60px;
    }
    
    .reviews_author {
        left: 0;
        font-size: 25px;
    }
    
    /* Subscribe___________*/
    
    .subscribe {
        margin: 90px 0 0 0;
    }
    
    .subscribe_title {
        font-size: 40px;
    }
    
    .subscribe_text {
        font-size: 30px;
    }
    
    .btn_long {
        margin-top: 20px;
        min-width: 280px;
    }
    
    /* Footer___________*/
    
    .footer {
        margin-top: 30px;
        height: 250px;
    }
 
    .footer_title {
        font-size: 30px;
    }
    
    .footer_address {
        font-size: 30px;
    }
    
    .footer_title soc {
        font-size: 30px;
    }
    
    .social_footer {
        margin-top: 20px;
    }
    
    .footer_text {
        font-size: 30px;
    }
    
     /* Copyright___________*/
    
    .copyright {
        height: 35px;
    }
    
    .copyright_text {
        font-size: 20px;
    }
    
}

/*_________Laptop 1024x1037________*/

@media (max-width: 1200px){
    
    .container {
        padding: 0;
    }
    
    /* Intro_________*/
    .intro_title {
        font-size: 40px;
    }
    
    /* Features_______*/
    .features_item {
        width: 42%;
    }
    
    /* Works___________*/
    .works_item {
        width: 24.75%;
    }
    
    /* Team___________*/
    .team_inner {
        display: flex;
        flex-wrap: wrap;
        margin: 20px;
    }
    
    .team_item {
        width: 30%;
    }
    
    /* Reviews___________*/
    .reviews_content {
        width: 42%;
        padding-left: 80px;
    }
    
     .reviews_img-1 {
        right: -50px;    
    }
    
     .reviews_img-2 {
        right: -50px;
    }
    
}

/*____________Tablet___________*/

@media (max-width: 768px){
    
    /* Nav__________*/
    .nav {
        display: none;
        width: 100%;
        position: absolute;
        right: 0;
        top: 100%;
        text-align: center;
        background-color: #31344e
    }
    
    .nav_link {
        padding: 7px 15px;
    }
    
    .nav.show {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    /* Menu_________*/
    .menu {
        display: block;
    }
    
    /* Intro__________*/
    .intro {
        height: auto;
        padding-top: 130px;
        padding-bottom: 30px;
    }
    
    .intro_title {
        font-size: 30px;
    }
    
    .p1 {
        font-size: 16px;
        margin-bottom: 30px;
    }
    
    /* Features___________*/
    .features_item {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    
    /* Works__________*/
    .works_item {
        width: 49.65%;
    }
    
    /* Team___________*/
    .team_inner {
        display: flex;
        flex-wrap: wrap;
        margin: 20px;
    }
    
    .team_item {
        width: 44.94%;
        text-align: center;
    }
    
    .team_img {
        margin-left: auto;
        margin-right: auto;
    }
    
    .social {
        justify-content: center;
}
    
    /* Reviews___________*/
    .reviews_photo {
        width: 100%;
        overflow: hidden;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    
    .reviews_content {
        width: 100%;
        padding-left: 5px;
    }
    
    .reviews_img-2 {
        height: 480px;
    }
    
    .reviews_text {
        font-size: 20px;
    }
    
    .reviews_author {
      padding-bottom: 10px;
}
    
/*_________Smartphone_______________*/

@media (max-width: 565px){
    
    /* Intro__________*/
    .intro {
        height: auto;
        padding-top: 130px;
        padding-bottom: 30px;
    }
    
    .intro_title {
        font-size: 30px;
    }
    
    .p1 {
        font-size: 16px;
        margin-bottom: 30px;
    }
    
    /* Features___________*/
    .features_item {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    
    /* Works__________*/
    .works_item {
        width: 100%;
    }
    
    /* Team___________*/
    .team_item {
        width: 100%;
        text-align: center;
    }
    
    /* Reviews_____________*/
    .reviews_img-1 {
        right: -150px;    
    }
    
    .reviews_img-2 {
        height: auto;
        right: -250px;    
    }
    
    /* Subscribe_____________*/
    
    .subscribe_title {
    font-size: 20px;
    margin-top: 20px;
    }
    .subscribe_text {
    font-size: 10px;
    }
    
    /* Footer_____________*/
    .footer_inner {
        padding: 70px 5px;
    }
    .social_footer {
        justify-content: center;
    }
    
    .soc{
        margin-bottom: 5px;
        margin-top: 210px;
    }
    .social_footer .social_link {
        border-width: 2px;
        border-radius: 2px;
        margin-top: 15px;
        margin-bottom: -170px;
    }
}
    
/*___Smartphone 375px___*/

    @media (max-width: 375px){
    
    /* Download____________*/
    .download {
        margin: 15px 0;
    }    
        
    /* Button____________*/
    .button {
        margin: 15px;
    }
    
    .btn_long {
        min-width: 15px;
    }
    
    /* Reviews_____________*/
    .reviews_img-1 {
        right: -180px;
    }
        
    .reviews_img-2 {
        height: auto;
        right: -210px;    
    }
}

